*{
  margin: 5;
  box-sizing: border-box;
  padding: 0;
}
body{
  display:flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background:#40E0D0;
  padding: 10px 10px;
  margin: 10px;
}
.Container {
  width: 850px;
  background: #87CEEB;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 50px;
  border-radius: 20px;
  padding: 60px 40px;
}

.MainGame img {
max-width: 270px;
}

.MainGame h1{
  font-size: medium;
}
.Scripts{
  display: flex;
  gap: 8px;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.Scripts .Letter{
  width:30px;
  border-bottom: 5px solid #000;
  margin-bottom: 20px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;

}
.Script .Letter.selected{
  border-color: transparent;
  margin: -40px 0 35px;
}
.MainGame .Score b{
  color:#ff0000;
}
.MainGame .Keyboard{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;

}
.Keyboard button[disabled]{
  opacity:0.6;
  pointer-events: none;
}
:where(.gameover, .Keyboard) button{
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  font-size: 25px;
  background-color: rgb(219, 11, 219);

}
.Keyboard button{
  width: calc(100% / 9 - 5px);
  padding: 10px;

}
:where(.gameover, .Keyboard) button:hover{
  background-color: red;
}
.gameover{
  position: fixed;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(red, green, blue, alpha) ;
  align-items: center;
  display: flex;
  opacity: 0;
  pointer-events: none;
  z-index: 999;
  justify-content: center;
  transition: opacity 0.4s ease;
  padding: 0 10px;
}
.gameover.show{
  opacity: 1;
  pointer-events: auto;
  
}
.gameover img{
  max-width: 200px;
  width: 200px;
  height: 400;
  margin-bottom: 20px;
}
.gameover .context{
 background-color: white;
 max-width: 420px;
 width: 100%;
 text-align: center;
 border-radius: 10px;
 padding: 30px;
}
.gameover h4{
  font-size: 50px;
}
.gameover button{
  padding: 12px 23px;
  }
  @media(max-width:782px){
    .Container{
      flex-direction: column;
      padding: 30px 15px;
      align-items: center;
    }
    .Keyboard button{
      display: flex;
      justify-content: center;
    }
    .BoxforHangman img{
      max-width: 200px;
    }
    
  }